<div class="d-flex justify-content-between">
    <h4>Add new Product</h4>
    <button mat-button (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div style="overflow: auto;height: 450px;">
<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <div class="mt-4 input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Product Name</span>
        </div>
        <input required minlength="2" type="text" class="form-control" 
        name="name" #name="ngModel" [(ngModel)]="service.formData.name">
    </div>
    <div class="text-left text-danger" *ngIf="name.invalid && name.touched">
        Please enter Product name.
    </div>


    <div class="mt-4 input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Product Price</span>
        </div>
        <input required type="number" class="form-control" 
        name="price" #price="ngModel" [(ngModel)]="service.formData.price">
    </div>
    <div class="text-left text-danger" *ngIf="price.invalid && price.touched">
        Please enter Product price.
    </div>



    <div class="mt-4 input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Product Quantity</span>
        </div>
        <input required type="number" class="form-control" 
        name="quantity" #quantity="ngModel" [(ngModel)]="service.formData.quantity">
    </div>
    <div class="text-left text-danger" *ngIf="quantity.invalid && quantity.touched">
        Please enter Product quantity.
    </div>

    <button class="mt-4" mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Add Product</button>
</form>
</div>